<li>
    {{burger_name}}

    <button class="change-devoured" data-id="{{burger_id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}Hungry? EAT UP!{{else}}Yum Yum DELICIOUS!{{/if}}
    </button>
</li>